{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<br>
<di class="row">
    
    {% for product in products %}
    
    
        <div class="col-lg-4" style="margin-top: 15px">
            <div class="box-element product">
                <img class="thumbnail" src="{{ product.imageURL }}">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Buy</button>
                <a href="{% url 'posts:product_detail' product.id %}" class="btn btn-outline-success">View</a>
                <h4 style="display: inline-block;float: right">R{{ product.price }}</h4>
            </div>
        </div>
        

    {% endfor %}
    
</div>
{% endblock %}